body{
    background-color: lightseagreen; /*example bg colour*/
}


h1{
    /* enter graduate form after getting extension on Vs code */
    font-size:8ch;
    position: relative;
    left:30px;
    max-width: fit-content;
    display: inline-block;
    margin-right: 50px;
}

#message{
    border: 1px dashed black;
    max-width: fit-content;
    padding:20px;
    font-weight: lighter;
    display: inline-block;
    vertical-align: 10px;
    background-color: lightgray;
}

#user_pic{
    width: 150px;
    height: 140px;
    overflow:hidden;
    border: 1px solid black;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    vertical-align: bottom;
    position:absolute; /*Make image not scroll or change when viewport changes*/
}

#user_pic img{
    width: 100%;
    height: auto;
    
}

form {
    border: 1px solid purple;
    max-width: 60%;
    max-height: auto;
    min-width: min-content; /* fixed min content so elements do not stick out */
    background-color: beige;
    padding: 20px; 
    display: wrap;
    justify-content: center;
    margin: 0 auto;
}

.fullName{
    margin-top: 10px;
    padding-left: 30px;
    max-width:fit-content;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#firstName , #LastName{
    position: relative;
    right:10px;
    font-family:serif;
    border: 1px solid blue;
    padding: 10px;
    width: fit-content;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.dropdowns{
    max-width: 73%;
    padding:10px;
    display:flex;
    justify-content: space-between;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#gender{
    border: 1px solid blue;
}

#dropdown_input1, #dropdown_input2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
}


/* CONTINUE WORKING ON THIS SECTION */

.mid-section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items:center;
}

.address{
    margin: 30px;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: fit-content;
    float:left;
}

.personal_contact{
    float: right;
    margin-bottom: 80px;
    margin-left:50px;
}

#street1, #street2, #city{
    font-family:serif;
    border: 1px solid blue;
    padding: 10px;
    width: fit-content;
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

#postcode{
    font-family:serif;
    border: 1px solid blue;
    padding: 10px;
    width: 100px;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: 95px;
}

#phone, #email{
    font-family:serif;
    border: 1px solid blue;
    padding: 10px;
    width: fit-content;
    margin: 10px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

/* style drop-down to be same size as input cells for the other values. */

.lower-section{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.medical_details, .financial_details{
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    display: inline-block;
}

.financial_details{
    margin-left: 70px;
}

.medical_details{
    margin-left: 10px;
}

#ref{
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
}
#creditCard, #medicare{
    font-family:serif;
    border: 1px solid blue;
    padding: 10px;
    margin-top: 10px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}


#submit_button{
    background-color: lightseagreen;
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform:uppercase;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 20px;
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.75);
    margin-left: 80%;
}

#submit_button:hover{
    background-color: lightslategray;
    color:white;
    box-shadow: 10px 15px 10px 0px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

/* Check : indentation for the detail headings on the page */