*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-y: auto;
}

body{
    background-color: rgb(236, 234, 234);
    margin: 0;
    min-height:min-content;
    overflow-x: hidden;
}

.nav-section{
    background-color: white;
    padding: 10px 0px;
    border: 1px solid darkgrey;
}

ul.nav-bar{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    overflow: hidden;
}

li.item {
    float:inline-start; 
    display: flex; 
    justify-content: space-between;
    font-size: 20px;
    
}

li.item a {
    display:inline-block;
    color:black;
    text-align:center;
    border: 1px solid darkgrey;
    background-color: lightgray;
    padding: 10px;
    width:250px;
    text-decoration: none;
    border-radius: 10px;
}

li.item a:hover {
    background-color: gray; 
    color: white;
}


.alphabet_marker{
    font-size:15ch;
    font-family: 'Open Sans';
    background-color: lightgrey;
    border-radius:20px;
    padding:30px 60px;
    margin: 100px 0px 0px 100px;
    max-width: fit-content;
}

.resource_Tab{
    background-color: teal;
    padding:0;
    width: 40%;
    height: auto;
    border-radius: 30px;
    border: 1px solid blue;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5%;
}

.resource_Tab h1{
    font-family: 'Open Sans';
    color: white;
    font-weight:lighter;
    font-size:6ch;
    text-align: left;
    margin-left:20px;
}

#resource_Content a{
    font-size: 4ch;
    font-family: 'Open Sans';
    margin: 40px;
    text-align:center;
    font-weight:lighter;
    color: #1d5e91;
}

#resource_Content h3{
    align-self: center;
    text-align:center;
    font-family: 'Open Sans';
    color:white;
}


#resource_Content{
    background-color: #1cb08f;
    padding:0;
    margin: 10px 30px 40px 20px;
    border-radius: 20px;
    height: 150px;
    position:relative;
}

.borderline{
    border: 1px solid black;
    margin: 5%;
}

.resources_nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources_nav button{
    padding:0;
    height:50px;
    width:50px;
    font-size:5ch;
    text-decoration: none;
    border: 1px solid grey;
    background-color: lightgrey;
    margin: 10px 10px 5% 10px;
    color: grey;
    font-family: 'Open Sans';
}

button:hover{
    background-color: #1cb08f;
    color: white;
}

button #previous{
    border:none;
}
/*footer segment of the page*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0 5% 60px;
    bottom: 0;
    width: 100%;
    background-color: teal;
    overflow: hidden;
    font-family: 'Open Sans';
}

#footer-left {
    max-width: fit-content;
}

#footer-left h4 {
    text-decoration: underline;
    font-size: 6ch;
}

#footer-left a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 5%;
    font-weight: lighter;
}

#footer-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 200px;
    margin-right: 0;
}

#footer-right h2, #footer-right a {
    margin-right: 100px;
}