*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 234, 234);
    margin: 0;
    min-height:min-content;
    overflow-x: hidden;
}

.nav-section{
    background-color: white;
    padding: 10px 0px;
    border: 1px solid darkgrey;
}

ul.nav-bar{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    overflow: hidden;
}

li.item {
    float:inline-start; 
    display: flex; 
    justify-content: space-between;
    font-size: 20px;
    
}

li.item a {
    display:inline-block;
    color:black;
    text-align:center;
    border: 1px solid darkgrey;
    background-color: lightgray;
    padding: 10px;
    width:250px;
    text-decoration: none;
    border-radius: 10px;
}

li.item a:hover {
    background-color: gray; 
    color: white;
}

.nav_banner{
    padding: 0px;
    background-color: black;
    border: 1px solid gray;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
}

#nav_buttons button{
    padding:30px;
    border-radius: 50%;
    height:40px;
    width:40px;
    text-transform: uppercase;
    background-color: gray;
    color: white;
    border: 1px solid gray;
    font-weight: thin;
    margin: 0px;
    cursor:pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

#nav_buttons span button {
    font-size: 30px;
    /*try positioning nav buttons and add links to pages*/
}

#nav_buttons button:hover{
    background-color: rgb(236, 234, 234);
    color:rgb(12, 113, 163);
    border: 2px solid rgb(12, 113, 163);
}


.first_section{
    margin: 0;
    padding: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.first_section h1{
    font-size:8ch;
    position: absolute;
    left:10px;
    top:200px;
    margin-left: 30px;
    font-family: 'Graduate', serif;
    text-decoration: underline;
    display: grid;
}

.first_section #explanation_video{
    border: 1px solid black;
    padding: 10px; /*only here for testing purposes*/
    float: left;
}

.first_section #symptoms{
    height: 700px;
    width: 500px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 100px;
    display: grid;
    position: absolute;
    right: 70px;
    top:200px;
}

.first_section #symptoms h2{
    margin-top: 20px;
    font-size: 80px;
    font-family: 'Graduate', serif;
    text-decoration: underline;
    color: grey;
    text-align: center;
}

.second_section{
    margin: 0;
    padding: 400px;
    background-color:#1cb08f;
}

.second_section h2{
    font-size: 8ch;
    color: white;
    position: absolute;
    bottom:5;
    left: 0; 
    margin: 0px 40px;
}

.third_section{
    margin: 0;
    padding: 300px;
    background-color:rgb(236, 234, 234);
}

.Test_for_illness {
    background-color: gray;
    padding: 200px 40px;
    position: sticky;
    font-family: 'Graduate', serif;
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.Test_for_illness h2 {
    text-align: left; /* Align the text to the left */
    margin-left: 0px; /* Add margin to the left for spacing */
}


/* footer segment of the page */
.footer{
    position:sticky;
    bottom: 0;
    width: 100%;
    padding: 100px 60px;
    background-color: teal;
    overflow: hidden;
    top: auto;
}

.footer h1{
    text-decoration: underline;
    font-size: 50px;
}

.footer a{
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.footer h3{
    display: block;
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    right: 0;
}